*{
    padding: 0;
    margin: 0;
}

body{
    background-color: rgb(243, 236, 236);
}

.wrapper{
    top: 0;
    position: fixed;
    display: inline-block;
    width: 100%;
}

.main-container, .second_container{
    display: flex;
}
.main-container, .second_container, .third_container{    
    text-align: center;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    box-sizing: border-box;
}

.slogan_picture, .slogan_logo{
    flex: 1;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    height: 250px; 
}
.slogan_picture{      
    background-image:url(../images/slogan_picture.png);
}

.slogan_logo{    
    background-image:url(../images/slogan_logo.png);
}

.icon_1, .icon_2, .icon_3{
    flex: 1;
}

.titles{
    font-weight: bold;
}

hr{
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    width: 900px; 
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.submit-form{
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 900px;
}


footer{
    display: flex;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    color: whitesmoke;
}

footer a, footer p{
    padding: 5px;
    font-size: 90%;
}

footer .col1, .col2{
    flex: 1;
    padding: 5px;
}

/************************************* TABS *************************************/

.mytabs {
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 50px auto;
    padding: 25px;
}
.mytabs input[type="radio"] {
    display: none;
}
.mytabs label {
    padding: 25px;
    background: #e2e2e2;
    font-weight: bold;
}

.mytabs .tab {
    width: 100%;
    padding: 20px;
    background: #fff;
    order: 1;
    display: none;
}
.mytabs .tab h2 {
    font-size: 3em;
}

.mytabs input[type='radio']:checked + label + .tab {
    display: block;
}

.mytabs input[type="radio"]:checked + label {
    background: #fff;
}

/************************************* M E D I A   Q U E R Y *************************************/

@media only screen and (max-width: 600px) {
  
    *{
        width:350px;
    }

    .main-container{
        width:350px;
        height: 150px;
        display: block;
        background-image:url(../images/slogan_logo.png);
        background-size: cover;
        margin-right: 3px;
        margin-left: auto;
        margin-right: auto;
    }

    .slogan_logo, .slogan_picture{
        visibility: hidden;
    }


    .second_container{
        display: block;
        width:350px;
        margin-left: auto;
        margin-right: auto;
       
    }

    .third_container{       
        width:350px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;      
    }

    .third_container h1{
        padding: 30px;
    }

    .third_container p{
        padding: 30px;
        text-align: justify;
    }

    footer{
        display: block;
    }
}
    